[submodule "system"]
	path = system
	url = https://github.com/kohana/core.git
[submodule "modules/beautiful-view"]
	path = modules/beautiful-view
	url = https://github.com/beautiful/view.git
[submodule "modules/beautiful-asset"]
	path = modules/beautiful-asset
	url = https://github.com/beautiful/asset.git
