<!doctype html>
<html class="no-js" id="{{page_id}}">
	<head>
		<title>{{page_title}}</title>
		<meta charset="{{charset}}" />
		<script>(function(B,C){B[C]=B[C].replace(/\bno-js\b/,'js');if(!/*@cc_on!@*/0)return;var e = "abbr article aside audio canvas command datalist details figure figcaption footer header hgroup mark meter nav output progress section summary time video".split(' '),i=e.length;while(i--){document.createElement(e[i])}})(document.documentElement,'className');</script>
	</head>
	<body>
		<div id="{{app_id}}">
			<div class="header" id="branding">
				<h1>{{page_title}}</h1>
			</div>
			<div class="content">
			{{&content}}
			</div>
		</div>
	</body>
</html>