<!doctype html>
<html>
	<head>
		<title>{{page_title}}</title>
		<meta charset="{{charset}}" />
		{{&stylesheets}}
	</head>
	<body>
		<div id="{{app_id}}">
			<div class="header" id="branding">
				<h1>{{page_title}}</h1>
			</div>
			<div class="content">
				{{&content}}
			</div>
		</div>
	</body>
</html>